:root{
  --fs-lg:20px;
  --fs-xl:24px;
  --fs-xxl:28px;
  --fs-xxxl:32px;
  --fs-xxxxl:48px;
  --fw-semi-bold:600;
  --fw-bold:700;
  --fw-extra-bold:800;
  --text-color-primary:#0D1321;
  --color-secondary:#194ABC;
  --color-neutral:#FFFFFF;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Exo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color:var(--text-color-primary);
    /* background-color: aqua; */
    background-color: var(--color-neutral);
   
}
/* common-section */
button{
    font-size: var(--fs-lg);
    font-weight: var(--fw-semi-bold);
    padding:12px 20px  ;
    border: 2px solid #0D1321CC;
    border-radius:8px ;
    background-color:var(--color-neutral) ;


}

/* header-section */
nav{
    width: 80vw;
    margin: 15px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
    
}
nav p{
    font-size: var(--fs-xxl);
    font-weight: var(--fw-extra-bold);
}
.banner{
    background-image: url('./assets/Hero-bg.png');
}
.banner-container{
    width: 70vw;
    margin: 30px auto 70px; 
    padding: 20px 0px 40px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
   
}
h1{
    font-size: var(--fs-xxxxl);
    font-weight: var(--fw-extra-bold);
}
.banner-container p{
    padding: 0px 105px;
    margin-top: 0px;
}
.btn button{
    color: #FFFFFF;
    background-color: var(--text-color-primary);
}

/* main-section */
main{
    width: 80vw;
    margin: 10px auto 20px;
    text-align: center;
}
.query-section{
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
    padding: 80px 95px;

}

.query{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    gap:90px;
    
    margin: 48px 0px 0px 0px;
    border-radius: 16px;

    background: linear-gradient(90deg, #FFFFFF, #FFFFFF00 100%);

}
.info{

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}
h2{
    font-size: var(--fs-xxxl);
    font-weight: var(--fw-extra-bold);
}
.about p{
    padding: 5px 50px;
}

 h3{
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    padding: 0px 30px 0px 0px;
    margin-top: 0px;
    color: #0D1321B3;

}
.info p{
    margin-top: 0px;
}
.info button{
   
    border: 2px solid #0D1321B3;
    font-weight: 600;
}
.inspiration-section{
    margin: 90px 0px 150px 0px;
}
.intro p{
    padding: 5px 100px;
    margin-bottom: 20px;
    
}
.video{
    padding: 15px ;
    border:1px solid #0D132133;
    border-radius: 8px;
    margin: 10px 70px;
}
.target-section{
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-bottom: 70px;
}
.current-skills{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 21vw;
    gap: 10px;
    border-radius: 15px;
    padding: 30px;
}

.skill-info{
    display: flex;
    flex-direction: column;
    text-align: start;  
}
.skill-info h3{
    color: var(--text-color-primary);
    font-weight: var(--fw-extra-bold);
    margin-bottom: 0px;
}
a{
    color:#0D1321;
}
.skill{
    display: flex;
    padding: 30px;
    gap: 20px;
    border: 1px solid #0D132126;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.support-section{
    background: linear-gradient(#00000066,#00000066 ), url('assets/handshake.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    padding: 60px 60px;
    border-radius: 16px;
    color: var(--color-neutral);
}
#text{
    padding: 13px 20px;
    color: #0D132199;
    border: 2px solid #0D132126;
    border-radius: 5px;
        width: 30vw;  
}
#submit{
    padding: 0px 20px;
    border-radius: 8px;
    background-color: var(--color-neutral);
    border: 1px solid var(--text-color-primary);
}
/* footer-section */
footer{
    background-color:#0D132108 ;
    margin-top: 120px;

}
.footer-contianer{
    
    width: 80vw;
    margin: 0px auto;
    padding: 30px 5px;
    font-size: var(--fs-lg);
    font-weight:var(--fw-semi-bold) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-image{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}